node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-store

.env
.env.*
!.env.example
config.json

.git
.gitignore
.github

.vscode
.cursor
.idea

Dockerfile
.dockerignore

coverage
.nyc_output
*.log

.turbo
.next
docs
PERFORMANCE_REVIEW.md
todo
guild-message-activity.csv
apps/web/.clerk
README.md
*.md
!package.json
